---
import type { GetStaticPaths } from "astro";
import axios from "axios";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  try {
    const response = await axios.get("http://localhost:3000/api/blog");
    const blog = response.data.data;
    console.log(blog, "the blog");
    if (!blog || blog.length === 0) {
      return [];
    }

    const paths = blog.map(
      ({
        slug,
        id,
        name,
        author,
        content,
        categories,
      }: {
        slug: string;
        id: string;
        name: string;
        author: string;
        content: string;
        categories: string;
      }) => ({
        params: { slug },
        props: { id, slug, name, author, content, categories },
      })
    );

    return paths;
  } catch (error) {
    console.error("Error fetching blog data:", error);
    return [];
  }
};

const { slug, id, name, content, author, categories } = Astro.props;

console.log(Astro.props, "the props");
---

<DefaultLayout title={name}>
  <div class='py-[10rem] text-white'>{content}</div>
</DefaultLayout>
