---
const { title } = Astro.props;
import Header from "../components/header.tsx";
import Footer from "../components/footer.tsx";
import "../styles/base.css";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <title>{title}</title>
    <!-- Include head here -->
  </head>
  <body class='bg-[#121212]'>
    <Header client:visible />
    <slot />
    <Footer client:visible />
  </body>
</html>
