---
const { title } = Astro.props;
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";
import "../styles/base.css";
import GoUp from "../components/GoUp.svelte";

const nodeEnv = import.meta.env.NODE_ENV;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link
      href='https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Great+Vibes&family=Poppins:wght@400;600;700&display=swap'
      rel='stylesheet'
    />
    <link rel='icon' href='/favicon.ico' />
    <title>{title}</title>
    <!-- Include head here -->
  </head>
  <body class='bg-[#121212] overflow-x-hidden'>
    <Header client:visible />
    <slot />
    <GoUp client:visible />
    <Footer client:visible />
    {
      nodeEnv === "development" ? (
        <div class='fixed bottom-2 left-2 h-10 w-10 flex items-center justify-center rounded-full bg-lime-400'>
          <div class='block sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden'>
            xs
          </div>
          <div class='hidden sm:block md:hidden lg:hidden xl:hidden 2xl:hidden'>
            sm
          </div>
          <div class='hidden sm:hidden md:block lg:hidden xl:hidden 2xl:hidden'>
            md
          </div>
          <div class='hidden sm:hidden md:hidden lg:block xl:hidden 2xl:hidden'>
            lg
          </div>
          <div class='hidden sm:hidden md:hidden lg:hidden xl:block 2xl:hidden'>
            xl
          </div>
          <div class='hidden sm:hidden md:hidden lg:hidden xl:hidden 2xl:block'>
            2xl
          </div>
        </div>
      ) : (
        ""
      )
    }
  </body>
</html>
